// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';

.login-container {
	background-color: #F9FAFB;
}

.login {
	background: url('/build/geometry2.png') repeat;
}

.login-form-control {
	width: 270px;
	margin: 0 auto;
	font-size: 14px;
}

.login-form {
	border-radius: 5px;
	border: 6px solid #F1F1F2;
	margin: 220px auto 0 auto;
	background-color: #ffffff;
}

.form-input {
	padding: 5px 20px;
	width: 100%;
	border: 0;

	&:focus {
		border-color: #8B97E0;
		outline: 0;
	}
}

.seperator {
	margin: 0 12px;
	border-top: 1px solid #cccccc;
}

.sign-in {
	background-color: #8B97E0;
	font-weight: bold;
	padding: 10px 0;
	border: 0;
	width: 100%;
	margin: 20px auto 0 auto;

	&:hover {
		background-color: #8051AF;
	}
}

.navbar {
	margin-bottom: 0;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: normal;
}

.spacer {
	text-align: center;
	margin: 6px auto 150px auto;

	span {
		padding: 0 8px;
		a {
			color: #cccccc;	
			text-decoration: underline !important;
		}
	}
}